{% extends "partials/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="post_delete">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2 id="atitle"></h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block javascript %}
<script>
    $(document).ready(function() {
        var pk = {{pk}}
        $.ajax({
            type:"GET",
            url:'http://127.0.0.1:8000/details/'+pk,
            success:(data)=>{
                var html="<h2> Are you sure you want to delete the post " + data.title + "</h2>"
    
                $('#atitle').append(html)
            },
            error:(error)=>{
                console.log(error)
            }
        })
        $("#post_delete").submit(function(event){
            event.preventDefault();
            $.ajax({
                url:"http://127.0.0.1:8000/delete/detail/"+pk+"/",
                type:"POST",
                dataType:"JSON",
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:()=>{
                    window.location.replace("http://127.0.0.1:8000/")
                },
                error:(error)=>{
                    console.log(error)
                },
            });
            return false;
        });




    
    
    });




</script>
{% endblock %}